body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  margin: auto;
}

input {
  border-radius: 1rem;
  border: none;
  padding: 0.3rem 1rem;
  outline: none;
}

button {
  border-radius: 1rem;
  border: none;
  padding: 0.3rem 1rem;
  margin-left: 1rem;
}

button:hover {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  color: white;
  cursor: pointer;
}

.input-area {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  width: 100%;
  height: 20%;
  padding: 1rem;
}

.incomplete-area {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  width: 100%;
  height: 40%;
  min-height: 15rem;
}

.complete-area {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  width: 100%;
  height: 40%;
  min-height: 15rem; 
}

.title {
  text-align: center;
  margin: 0;
  font-weight: bold;
  color: #444;
}
.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 0.6rem;
}